 ## Srivathsan B   -  E22034

# Experiment 7:

AIM : 
#### Use cars.csv with variables  MPG as Dependent variable and and all otehr variables as  Independent Variables
#### Draw 1000 random samples of size 150
#### For each random sample 
            i. Fit a Decision tree model to predict MPG.
            ii. Fit a Bagged Regressor model 
            iii. Conclude which one has a high variance model.

In [3]:
# Importing the dependencies 

import pandas as pd
import numpy as np
import random
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor

In [5]:
# mounting the drive 

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# reading the data from the google drive and reading as pandas dataset.

df = pd.read_csv('/content/drive/MyDrive/AML /cars.csv')
df.head() # Shows the first 5 rows of the dataset variable name df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US

In [7]:
# Droping Car Variable 
df = df.drop(["Car"], axis = True)

In [8]:
# Creating Dummy variables for Origin.
df_1 = pd.get_dummies(df)

In [9]:
# Seperating the independent and dependent variables 
X = df_1.drop(['MPG'], axis = 1 ) # All X's values 
y = df_1.MPG # y - values

# Taking 1000 random samples with 150 observations and fitting a Decision Tree model with default settings.

In [10]:
predicted_Dtree = [] # Initializing a empty list.


for i in range (1,1001): # initiating a loop for 1001 times.
    
    test = X.sample(1,random_state = 123) # taking a fixed sample.
    train_X = X.sample(150) # Taking 150 observations for train in X.
    train_y = y.sample(150) # Taking 150 observations for test data in y.
    
    # Step-1: instantiate learning model.
    D_tree = DecisionTreeRegressor()   

    # Step-2: fitting the model.
    D_tree.fit(train_X, train_y)

    # Step-3: Predicting the values.
    predicted_values_Dtree = D_tree.predict(test) # Making predictions for a fixed test input.
    predicted_Dtree.append(predicted_values_Dtree) # Appending the predictions into predicted_Dtree

np.var(predicted_Dtree) # Calculating the variance of Decision tree model

70.97514416

Taking 1000 random samples with 150 observations and fitting a Bagging model with default settings.

In [11]:
predicted_Bagging = [] # Initializing a empty list.


for i in range (1,1001): # initiating a loop for 1001 times.
    
    test = X.sample(1,random_state = 123) # taking a fixed sample.
    train_X = X.sample(150) # Taking 150 observations for train in X.
    train_y = y.sample(150) # Taking 150 observations for test data in y.
    
    # Step-1: instantiate learning model.
    baggedModel = BaggingRegressor(base_estimator=None, n_estimators=10)

    # Step-2: fitting the model.
    baggedModel.fit(train_X, train_y)

    # Step-3: Predicting the values.
    predicted_values_Bagging = baggedModel.predict(test) # Making predictions for a fixed test input.
    predicted_Bagging.append(predicted_values_Bagging) # Appending the predictions into predicted_Bagging

np.var(predicted_Bagging) # Calculating the variance of Ensamble  Bagged Model

22.3505101376

## **Conclusion : **
*Experiment 7 Concludes that, in comparing the Decision Tree models with Ensamble Bagging Model. We found that Bagging Model Shows very less variance. Compared to Decision tree model.